
  <br/>  <br/>
   <font  size="2">
   <table  class="tabelas" border ="1" cellpadding="1" cellspacing="1" width="100%">
      <tr>
       <th>Nome</th>
       <th>Endereco</th>
       <th>Num</th>
       <th>Complemento</th>
       <th>Bairro</th>
       <th>Fone</th>
       <th>Email</th>
      </tr>
      <% for unidade in @tipos %>
      <tr>
       <td><%=h unidade.nome %></td>
       <td><%=h unidade.endereco %></td>
       <td><%=h unidade.num %></td>
       <td><%=h unidade.complemento %></td>
       <td><%=h unidade.bairro %></td>
       <td><%=h unidade.fone %></td>
       <td><%=h unidade.email %></td>
     <div class="botao">
     <tr>
       <td colspan="12">
          <div class="botao">
            <table >
              <td><%= button_to('Exibir',{:action => "show", :id =>unidade}, :method => "get") %></td>
               <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                 <td> <%= button_to('Editar',{:action => "edit", :id =>unidade}, :method => "get") %></td>
                  <% if current_user.has_role?('administrador')%>
                    <td><%= button_to('Excluir',{:action => "destroy", :id =>unidade}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
                  <%end%>
               <%end%>
               <td><%= button_to "Mapa", geo_path(unidade.id) %></td>
            </table>
           </div>
       </td>
    </tr>
   </div>

   <% end %>
  </table>
 </font>

