<br/>
 <table  class="tabelas"   align="center" width="100%">
   <tr>
      <td colspan="2" align="left">
         <font  size=5><b> CONSULTA UNIDADES CADASTRADAS</b></font>
      </td>
   </tr>
   <tr>
     <td>
        <br/>
        <div class="botao">
        <table width="100%" align="center">
          <tr>
             <td width="6%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
             <td width="6%" align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
             <td width="6%"align="left" ><%= button_to 'Listar', print_all_unidades_path%> </td>
             <td align="right">
               <div class="botao">
                <table>
                  <tr>
                    <% form_tag unidades_path, :method => 'get' do %>
                     <td align="right"><font size="4"> Digite unidade:</font>
                       <%= text_field_tag :search, params[:search] %>
                       <%= submit_tag "Filtrar", :name => nil %>
                     </td>
                    <% end %>
                  </tr>
                </table>
                </div>
             </td>
         </tr>
         <tr>
           <% if  $var == 0 then %>
             <td align="left" colspan="4"><%= will_paginate @unidades %></td>
           <%end%>
         </tr>
       </table>
       <br/>
       </div>
       <font  size="2">
       <table border="2" width="100%">
         <% for unidades in @unidades %>
          <tr>
            <th>Nome</th>
            <th>Ensino</th>
            <th>Endereco</th>
            <th>Num</th>
            <th>Bairro</th>
            <th>Fone</th>

          </tr>
          <tr>
            <td><%=h unidades.nome %></td>
            <td><%=h unidades.tipo.nome %></td>
            <td><%=h unidades.endereco %></td>
            <td><%=h unidades.num %></td>
            <td><%=h unidades.bairro %></td>
            <td><%=h unidades.fone %></td>
        </tr>
      <tr>
         <td colspan="12">
           <div class="botao">
            <table >
             <td><%= button_to('Exibir',{:action => "show", :id =>unidades}, :method => "get") %></td>
               <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                  <td> <%= button_to('Editar',{:action => "edit", :id =>unidades}, :method => "get") %></td>
                     <% if current_user.has_role?('administrador')%>
                       <td><%= button_to('Excluir',{:action => "destroy", :id =>unidades}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
                     <%end%>
               <%end%>
               <td><%= button_to('Mapa',  geo_path(unidades.id)) %></td>
            </table>
           </div>
           </td>
        </tr>
        <% end %>
       </table>
       <div class="botao">
         <table width="100%" align="left">
           <br/>
          <tr>
              <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
              <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
              <% if  $var == 0 then %>
                 <td align="left" colspan="3"><%= will_paginate @unidades %></td>
              <%end%>

        </table>
        </div>
     </font>
  </table>
<br/>


