<br/>
 <table class="tabelas" align="center" width="100%">
  <tr>
    <td colspan="2" align="left">
         <font  size=5><b> UNIDADES CADASTRADAS</b></font>
      </td>
  </tr>
  <tr>
    <td>
      <div class="botao">
       <table width="100%" align="center">
         <tr>
           <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
           <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
         </tr>
      </table>
     </div>
   <br/>
    <font size="2">
     <table border="2" width="100%">
        <tr>
          <th>Nome</th>
          <th>Ensino</th>
          <th>Endereco</th>
          <th>Num</th>
          <th>Bairro</th>
          <th>Fone</th>
        </tr>
        <% for unidades in @unidades %>
         <tr>
           <td align="left"><%=h unidades.nome %></td>
           <td align="left"><%=h unidades.tipo.nome %></td>
           <td align="left"><%=h unidades.endereco %></td>
           <td align="left"><%=h unidades.num %></td>
           <td align="left"><%=h unidades.bairro %></td>
           <td align="left"><%=h unidades.fone %></td>
         </tr>
        <%end%>
     </table>
     <div class="botao">
       <table width="100%" align="center">
         <tr>
           <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
          <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
         </table>
     </div>
   </font>
  </table>
  <br/>
