<br/>
<font size="2">
<table  class="tabelas" width="50%"align="center">
  <tr>
    <td colspan="2" align="left">
        <font  size=5 color="black"> <b> UNIDADE</b></font>
    </td>
  </tr>
  <tr>
    <td>
       <fieldset><legend><font  size=4> Dados Unidade</font></legend>
        <table width="100%">
          <tr>
            <td align="left"><b>Nome:</b></td>
            <td align="left"><%=h @unidades.nome %></td>
          </tr>
          <tr>
            <td align="left"><b>Endereço:</b></td>
            <td align="left"><%=h @unidades.endereco %> Nº<%=h @unidades.num %></td>
          </tr>
          <tr>
            <td align="left"><b>Complemento:</b></td>
            <td align="left"><%=h @unidades.complemento %></td>
          </tr>
          <tr>
            <td align="left"><b>Bairro:</b></td>
            <td align="left"><%=h @unidades.bairro %></td>
          </tr>
          <tr>
            <td align="left"><b>Fone:</b></td>
            <td align="left"><%=h @unidades.fone %></td>
          </tr>
          <tr>
            <td align="left"><b>Tipo Ensino:</b></td>
            <td align="left"><%=h @unidades.tipo.nome %></td>
          </tr>
          <tr>
            <td align="left"><b>E_mail:</b></td>
            <td align="left"><%=h @unidades.email %></td>
          </tr>
          <tr>
            <td align="left"><b>Diretor:</b></td>
            <td align="left"><%=h @unidades.diretor %></td>
          </tr>
          <tr>
            <td align="left"><b>Coordenador:</b></td>
            <td align="left"><%=h @unidades.coordenador %></td>
          </tr>
          <tr>
            <td align="left" valign="top"><b>Observações:</b></td>
            <td align="left"><%=h @unidades.obs %></td>
          </tr>
         </table>
        </fieldset>
          <div class="botao">
           <table>
            <tr>
              <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
              <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
               <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id => @unidades}, :method => "get") %></td>
              <%end%>
             <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
            </tr>
          </table>
          </div>
      </td>
    </tr>
 </table>
</font>
<br/>

