<br/><br/>
<table class="tabelas" align="center" width="50%">
 <tr>
     <td colspan="2" align="left">
       <font  size=5 color="black"> <b>EDITORAS</b></font>
    </td>
 </tr>
 <tr>
   <td>
    <font  size="2">
     <table width="100%"  >
       <tr>
         <td width="50%" valign="top">
           <% form_for(@editora) do |f| %>
            <fieldset><legend><font  size=4> Cadastrar Editora</font></legend>
               <table>
                 <tr>
                   <td valign="top"><font color="red"><b><u>OBSERVAÇÃO:</u></b></font>
                   <td colspan="2"><font color="red"><b>Digitar o nome e aguardar o sistema consultar se a Editora já está cadastrado antes de clicar o botão SALVAR</b></font></td>
                 </tr>
                 <tr>
                   <td align="left"><b>Nome:</b></td>
                   <td align="left" colspan="2"><%= f.text_field :nome%>
                     <%= observe_field :editora_nome,
                       :with => :editora_nome,
                       :url => { :action => 'mesma_editora' } %>
                    </td>
                 </tr>
                  <tr>
                     <td align="left"><b>Cidade:</b></td>
                     <td align="left"colspan="2"><%= f.text_field :cidade %></td>
                  </tr>
                  <tr>
                     <td align="left"><b>Pais:</b></td>
                     <td align="left" colspan="2"><%= f.text_field :pais %></td>
               </tr>
               <tr>
                  <td colspan="3">
                      <font color="red"><b><div id='nome_aviso'></div></b></font>
                  </td>
                </tr>
                 <tr>
                  <div class="botao">
                    <td align="right"width="1%" >
                           <div id='Certeza'>
                               <%= f.submit "Salvar" %>
                           </div>
                    </td>
                         <% end %>
                     <td align="left"width="1%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
                     <td align="left"><%= button_to 'Cadastrados', editoras_path, {:method => "get"}%></td>
                  </div>
                </tr>
               </table>
             </fieldset>
            <br/>
         </td>
        </tr>
       </table>
      </font>
    </td>
</table>
<br/>

