<br/><br/><br/><br/><br/><br/>
<font color="black">
<div id="posicao_login">
 <table width="65%" border="1">
  <tr>
    <td rowspan="2">
       <div id="imagem_login"></div>
    </td>
    <td width="50%" valign="top">
     <br/>
     <table>
        <tr>
          <td colspan="2"align="center"><font  size="4"><b><u>Sistema de Gerenciamento de Biblioteca</u></b></font><br/><br/></td>
        </tr>
        <tr>
          <td colspan="2"align="center"><font  size="3">LOGIN</font><br/><br/><br/></td>
        </tr>
        <% form_tag session_path do -%>
        <tr>
          <td align="right"><b>Usuário:</b></td>
          <td align="left"><%= text_field_tag 'login', @login, :size=> 15 %></td>
        </tr>
        <tr>
          <td align="right"><b>Senha:</b></td>
          <td align="left"><%= password_field_tag 'password', nil, :size=> 15 %></td>
        </tr>
        <tr>
          <td colspan="2"><br/><br/><%= submit_tag 'Entrar' %></td>
        </tr>
       <%end%>
     </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
       <font  size="2"><b>Não possui senha?</b></font><br/>
           <%= button_to 'Cadastrar Usuário/Senha', signup_path%>
            <%= link_to 'Esqueci a Senha', new_password_path%>
       </td>
  </tr>
  <br/>
  <tr>
     <td colspan="2">
        <div id="rodape_login">
           © 2011 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
        </div>
      </td>
    </tr>
   </table>
 </div>
</font>
<br/>


