<h1>Editing localizacao</h1>

<% form_for(@localizacao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :unidade %><br />
    <%= f.text_field :unidade %>
  </p>
  <p>
    <%= f.label :localguardado %><br />
    <%= f.text_field :localguardado %>
  </p>
  <p>
    <%= f.label :aquisicao %><br />
    <%= f.text_field :aquisicao %>
  </p>
  <p>
    <%= f.label :dataaquisicao %><br />
    <%= f.datetime_select :dataaquisicao %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @localizacao %> |
<%= link_to 'Back', localizacaos_path %>