<p>
  <b>Unidade:</b>
  <%=h @localizacao.unidade %>
</p>

<p>
  <b>Localguardado:</b>
  <%=h @localizacao.localguardado %>
</p>

<p>
  <b>Aquisicao:</b>
  <%=h @localizacao.aquisicao %>
</p>

<p>
  <b>Dataaquisicao:</b>
  <%=h @localizacao.dataaquisicao %>
</p>

<p>
  <b>Obs:</b>
  <%=h @localizacao.obs %>
</p>


<%= link_to 'Edit', edit_localizacao_path(@localizacao) %> |
<%= link_to 'Back', localizacaos_path %>