<br/><br/>
<table class="tabelas" align="center" width="100%">
 <tr>
   <td colspan="2" align="left">
      <font  size=5 color="black"> <b> CONSULTA LIVRO POR UNIDADE</b></font>
   </td>
  </tr>
  <tr>
    <td>
      <br/>
       <table>
        <tr>
          <td>
            <div class="botao">
            <table>
              <tr>
                <td align="left" width="65%"><font  size="4" color="black"> Unidade: <%= collection_select :livro, :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- '  %></font></td>
                <td align="left"><font size ="3" color="red"> OBS: Selecionar primeiro a UNIDADE e depois, se desejar, outra opção de filtro em CONSULTA POR  </font></td>
              </tr>
              <tr>
               <td colspan="3">
                <fieldset><legend><font  size="3">Consulta por</font></legend>
                 <table>
                    <td align="left" colspan="2" ><font  size="3" color="black"> Título: <%= collection_select :livro, :titulo, @livrostitulo, :titulo, :titulo, :include_blank => ' -- Selecione -- '  %></font></td>
                    <td align="left" ><font  size="3" color="black">Autor: <%= collection_select :livro, :autor, @autorlivros, :autor, :autor, :include_blank => ' -- Selecione -- '  %></font></td>
                   <tr>
                    <td align="left"><font  size="3" color="black"> Área: <%= collection_select :livro, :area_id, @arealivros, :id, :nome, :include_blank => ' -- Selecione -- '  %></font></td>
                    <td align="left"><font  size="3" color="black"> Assunto: <%= collection_select :assunto, :nome,   @assuntos, :nome, :nome, :include_blank => ' -- Selecione -- '  %></font></td>
                    <td align="left"><font  size="3" color="black"> ISBN: <%= collection_select :livro, :ISBN, @isbnlivros, :ISBN, :ISBN, :include_blank => ' -- Selecione -- '  %></font></td>
                   </tr>
                 </table>
               </fieldset>
              </td>
             </tr>
             <div class="botao">
              <table width="100%" align="left">
                <tr>
                   <td align="left" width="8%" ><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
                   <td align="left" width="8%" ><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
                   <td align="left" width="8%"  ><%= button_to 'Nova Consulta', cons_unidade_livro_path, {:method => "get"} %></td>
                   <td align="center"><font size ="3" color="red"> <=== Para realizar nova consulta clicar no botão <br/> NOVA CONSULTA  </font></td>

               </tr>
             </table>
            </div>
           </table>
          </div>
          </td>
        </tr>
        <tr>
          <td>
          <%= observe_field 'livro_unidade_id',
               :update => "listagem",
               :url    => { :action => 'lista_unidade' },
               :with   => 'livro_unidade_id' %>
            <div id="listagem"> </div>
           <%= observe_field 'livro_area_id',
               :update => "listagem",
               :url    => { :action => 'lista_unidade_area_livro' },
               :with   => 'livro_area_id' %>
            <div id="listagem"> </div>
           <%= observe_field 'assunto_nome',
               :update => "listagem",
               :url    => { :action => 'lista_unidade_assunto_livro' },
               :with   => 'assunto_nome' %>
            <div id="listagem"> </div>
          <%= observe_field 'livro_titulo',
               :update => "listagem",
               :url    => { :action => 'lista_unidade_titulo_livro' },
               :with   => 'livro_titulo' %>
            <div id="listagem"> </div>
          <%= observe_field 'livro_ISBN',
               :update => "listagem",
               :url    => { :action => 'lista_unidade_isbn_livro' },
               :with   => 'livro_ISBN' %>
            <div id="listagem"> </div>
          <%= observe_field 'livro_autor',
               :update => "listagem",
               :url    => { :action => 'lista_unidade_autor_livro' },
               :with   => 'livro_autor' %>
            <div id="listagem"> </div>
         </td>
       </tr>
    </table>
   </td>
 </table>
<br>



