<h1>Listing livros</h1>

<table>
  <tr>
    <th>Tombo</th>
    <th>Isbn</th>
    <th>Area</th>
    <th>Assunto1</th>
    <th>Assunto2</th>
    <th>Assunto3</th>
    <th>Resumo</th>
    <th>Aquisicao</th>
    <th>Dataaquisicao</th>
    <th>Localguardado</th>
    <th>Unidade</th>
    <th>Obs</th>
  </tr>

<% @livros.each do |livro| %>
  <tr>
    <td><%=h livro.tombo %></td>
    <td><%=h livro.isbn %></td>
    <td><%=h livro.area %></td>
    <td><%=h livro.assunto1 %></td>
    <td><%=h livro.assunto2 %></td>
    <td><%=h livro.assunto3 %></td>
    <td><%=h livro.resumo %></td>
    <td><%=h livro.aquisicao %></td>
    <td><%=h livro.dataaquisicao %></td>
    <td><%=h livro.localguardado %></td>
    <td><%=h livro.unidade %></td>
    <td><%=h livro.obs %></td>
    <td><%= link_to 'Show', livro %></td>
    <td><%= link_to 'Edit', edit_livro_path(livro) %></td>
    <td><%= link_to 'Destroy', livro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New livro', new_livro_path %>