<h1>New livro</h1>

<% form_for(@livro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tombo %><br />
    <%= f.text_field :tombo %>
  </p>
  <p>
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </p>
  <p>
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </p>
  <p>
    <%= f.label :assunto1 %><br />
    <%= f.text_field :assunto1 %>
  </p>
  <p>
    <%= f.label :assunto2 %><br />
    <%= f.text_field :assunto2 %>
  </p>
  <p>
    <%= f.label :assunto3 %><br />
    <%= f.text_field :assunto3 %>
  </p>
  <p>
    <%= f.label :resumo %><br />
    <%= f.text_field :resumo %>
  </p>
  <p>
    <%= f.label :aquisicao %><br />
    <%= f.text_field :aquisicao %>
  </p>
  <p>
    <%= f.label :dataaquisicao %><br />
    <%= f.datetime_select :dataaquisicao %>
  </p>
  <p>
    <%= f.label :localguardado %><br />
    <%= f.text_field :localguardado %>
  </p>
  <p>
    <%= f.label :unidade %><br />
    <%= f.text_field :unidade %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', livros_path %>