<p>
  <b>Tombo:</b>
  <%=h @livro.tombo %>
</p>

<p>
  <b>Isbn:</b>
  <%=h @livro.isbn %>
</p>

<p>
  <b>Area:</b>
  <%=h @livro.area %>
</p>

<p>
  <b>Assunto1:</b>
  <%=h @livro.assunto1 %>
</p>

<p>
  <b>Assunto2:</b>
  <%=h @livro.assunto2 %>
</p>

<p>
  <b>Assunto3:</b>
  <%=h @livro.assunto3 %>
</p>

<p>
  <b>Resumo:</b>
  <%=h @livro.resumo %>
</p>

<p>
  <b>Aquisicao:</b>
  <%=h @livro.aquisicao %>
</p>

<p>
  <b>Dataaquisicao:</b>
  <%=h @livro.dataaquisicao %>
</p>

<p>
  <b>Localguardado:</b>
  <%=h @livro.localguardado %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @livro.unidade %>
</p>

<p>
  <b>Obs:</b>
  <%=h @livro.obs %>
</p>


<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>