<br/><br/><br/>
<table width="50%" class="tabelas" align="center">
 <tr>
   <td align="left">
     <font  size=4><b> NÍVEL DE ACESSO</b></font>
    </td>
 </tr>
 <tr>
   <td>
     <font  size=2>
     <table width="100%">
        <% form_for(@role_user) do |f| %>
        <%= f.error_messages %>
     <tr>
        <td><%= f.label :user_id,'Selecione o Usuário' %></td>
        <td align="left"><%= f.collection_select  :user_id,@users, :id, :login, :include_blank => ' -- Selecione -- ' %>
     </tr>
      <tr>
        <td><%= f.label :role_id,'Selecione o nível de acesso :' %></td>
        <td align="left"><%= f.collection_select  :role_id,@roles, :id, :name, :include_blank => ' -- Selecione -- ' %>
      </tr>
     </table>
     <br/>
        <table  width="100%" align="center">
          <tr>
            <td align="left" width="8%">
                 <%= f.submit "Associar" %>
            </td>
             <% end %>
             <td align="left" ><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
           </tr>
        </table>
     </font>
 </td>
</tr>
</table>
<br/>
