<font size="2">
<table  class="tabelas" width="100%"align="center">
  <tr>
       <td colspan="2" align="left">
         <font  size=4 color="black"> <b> <%="Informativo nº #{@informativo.id} - de #{@informativo.created_at.strftime("%d/%m%Y %H:%M")}" %></b></font>
       </td>
      </tr>
 <tr>
   <td>
      <table width="100%">
        <tr>
          <td width="50%">
            <br/>
            <fieldset>
              <legend><font size="4">Período de exibição</font></legend>
                <table width="100%">
                  <tr>
                    <td><font size="2"><b>De:</b></font></td>
                    <td align="left"><font size="2"><%=h @informativo.starts_at.strftime("%d/%m/%Y %H:%m") %></font></td>
                    <td><font size="2"><b>Até:</b></font></td>
                    <td align="left"><font size="2"><% t = @informativo.ends_at %>
                         <%=h @informativo.ends_at.strftime("%d/%m/%Y %H:%m") %></font>
                    </td>
                  </tr>

                </table>
            </fieldset>
          </td>
          <td>
            <br/>
            <fieldset>
              <legend><font size="4">Mensagem</font></legend>
               <table width="100%">
                  <tr>
                    <td align="left"><font size="2"> <%=h @informativo.mensagem %></font></td>
                  </tr>
               </table>
            </fieldset>
          </td>
        </tr>
      </table>
    <table>
     <tr>
       <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
       <% if current_user.has_role?('administrador') or current_user.has_role?('bibliotecario') %>
        <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id => @informativo}, :method => "get") %></td>
       <%end%>
      <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
   </table>
  </td>
</tr>
</table>
</font>
<br/>


