<br/><br/>
<% form_for(@periodico) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas" width="70%" align="center">
  <tr>
   <td colspan="2" align="left">
     <font  size=5><b> CADASTRO DE PERIODICOS</b></font>
   </td>
  </tr>
  <tr>
    <td>
      <fieldset><legend><font  size=4> Periódicos</font></legend>
        <table>
           <tr>
              <td align="left"><b>Tombo(Local):</b></td>
              <td align="left" colspan="3" ><%= f.text_field :tomboL, :size =>10 %></td>
           </tr>
           <tr>
             <td align="left" ><b>ISSN:</b></td>
              <td align="left" colspan="3" ><%= f.text_field :issn, :size =>10 %></td>
           </tr>
           <tr>
              <td align="left"><b>Tipo:</b></td>
              <td align="left"><%= f.select :tipo, TIPOPERIODICO.sort {|e0,e1| e0[0] <=> e1[0]}, :include_blank => '---Selecione---'%>
                   <b>Periodicidade:</b><%= f.select :periodicidade, PERIODICIDADE.sort {|e0,e1| e0[0] <=> e1[0]}, :include_blank => '---Selecione---', :size => 15%></td>
              
           </tr>
           <tr>
               <td align="left"><b> Titulo:</b></td>
               <td align="left"  colspan="5"><%= f.text_field :titulo, :size =>43%></td>
  
           </tr>
           <tr>
              <td align="left"><b>Data Edição:</b></td>
              <td align="left" colspan="5"><%= f.date_select(:data, :order => [:day, :month, :year], :start_year => (Date.today.year)-100) %>
                <b>Nº Edição:</b> <%= f.text_field :num, :size =>1%>                       </td>
           </tr>
           <tr>
              <td align="left"><b>Editora/Produção:</b></td>
             <td align="left" colspan="3"><%= f.collection_select  :editora_id, @editoras, :id, :nome, :include_blank => ' -- Selecione -- ' %>
               -- <%= link_to "Nova Editora", new_editora_path%></td>
           </tr>
           <tr>
               <td align="left" colspan="8">
                  <% f.fields_for :localizacaos do |builder| %>
                      <%= render "dadoslocalizacao", :f => builder %>
                  <% end %>
               </td>
           </tr>
            <tr >
               <td align="left"><b>Observações:</b></td>
               <td align="left" colspan="7"><%= f.text_area(:obs, :cols =>"58", :rows => "2") %></td>
            </tr>
          </table>
      </fieldset>
      <table>
          <tr>
            <div id='Certeza'>
               <td align="left" width="8%"><%= f.submit "Salvar" %></td>
            </div>
            <% end %>
            <td align="left" ><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
          </tr>
      </table>
 </table>
</font>

