<br/>
<font size="2">
<table  class="tabelas" width="60%"align="center">
   <tr>
      <td colspan="2" align="left">
         <font  size=5 color="black"> <b>PERIÓDICO</b></font>
      </td>
  </tr>
  <tr>
   <td>
     <fieldset><legend><font  size=4> Dados</font></legend>
      <table>
        <tr>
           <td align="left"><b>Tombo (SEDUC):</b></td>
           <td align="left"> PE<%=h @periodico.id %></td>
        </tr>

        <tr>
           <td align="left"><b>Tombo (Local):</b></td>
           <td align="left">  <%=h @periodico.tomboL %></td>
        </tr>
        <tr>
           <td align="left"><b>ISSN:</b></td>
           <td align="left">  <%=h @periodico.issn %></td>
        </tr>
        <tr>
          <td align="left"><b>Tipo:</b></td>
          <td align="left">  <%=h @periodico.tipo %></td>
       </tr>
       <tr>
         <td align="left"><b> Periodicidade:</b></td>
         <td align="left">   <%=h @periodico.periodicidade %></td>
       </tr>
       <tr>
         <td align="left"><b>Título:</b></td>
         <td align="left"><%=h @periodico.titulo %></td>
       </tr>
       <tr>
         <td align="left"><b> Editora/Produção:</b></td>
         <td align="left">  <%=h @periodico.editora.nome %></td>
       </tr>
       <tr>
         <td align="left"><b>Data Produçao:</b></td>
         <td align="left">  <%=h @periodico.data.strftime("%d de %B de %Y") %></td><p>
       </tr>
      <tr>
         <td align="left"><b>Forma Aquisição:</b></td>
         <td align="left">
           <% @periodico.localizacaos.each do |p| %>
            <%= p.aquisicao%>
          <%end%>
         </td>
      </tr>
       <tr>
         <td align="left"><b> Data Aquisição:</b></td>
         <td align="left">
          <% @periodico.localizacaos.each do |p| %>
            <%= p.dataaquisicao.strftime("%Y")%>
          <%end%>
         </td>
       </tr>
       <tr>
         <td align="left"><b>Localização:</b></td>
         <td align="left">
          <% @periodico.localizacaos.each do |p| %>
            <%= p.localguardado%>
          <%end%>
          </td>
       </tr>
      <tr>
         <td align="left"><b>Unidade:</b></td>
         <td align="left"><% @periodico.localizacaos.each do |p| %>
            <%= p.unidade.nome%>
          <%end%>  </td>
      </tr>
      <tr>
         <td valign="top" align="left"><b>Observações:</b></td>
         <td align="left">  <%=h @periodico.obs %></td>
      </tr>
    </table>
    </fieldset>
     <div class="botao">
      <table>
        <tr>
          <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
           <% if current_user.has_role?('administrador') or current_user.has_role?('bibliotecario') %>
             <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id => @periodico}, :method => "get") %></td>
             <td align="left" width="8%"><%= button_to 'Cadastrar', new_periodico_path, {:method => "get"} %></td>
           <%end%>
          <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
        </tr>
      </table>
     </div>
   </td>
  </tr>
 </table>
</font>
<br/>

