<% form_for([@externo,@documento], :html => {:multipart=>true}) do |f| %>
<%= f.error_messages %>
 <font  size="2">
  <fieldset><legend><font  size=4> Documento</font></legend>
    <table>
       <tr>
         <td align="left"><b>Titulo:</b></td>
         <td align="left"><%= f.text_field :titulo, :size =>35 %></td>
       </tr>
       <tr>
         <td align="left" valign="top"><b>Descrição:</b></td>
         <td align="left"><%= f.text_area(:descricao, :cols =>"45", :rows => "6") %></td>
       </tr>
       <tr>
         <td align="left"><b>Path:</b></td>
         <td align="left"><%= f.file_field :documento, :size => 20 %>
       </tr>
       <tr>
         <td align="left"><b>Chamado nº<%= @externo.id %></b>
         <td align="left"> --   Para empresa: <%= @externo.empresa.nome %></td>
        </tr>
     <table>
      <tr>
        <td align="left" width="8%"><%= f.submit "Salvar" %></td>
        <% end %>
        <td align="left" > <%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
      </tr>
    </table>
   </table>
  </fieldset>

</div>
