<table  align="center" width="100%">
  <td>
  <fieldset><legend><font  size=5> DOCUMENTOS ANEXOS CHAMADO Nº <%=h @externo.id %></font></legend>
   <br/>
   <div class="botao">
   <table width="100%">
    <tr>
     <td align="left" width="6%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
     <td align="left" width="6%"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
     <td align="left"><%= button_to 'Incluir Documento', new_c_externo_documento_path, :method => "get"  %>
     </tr>
   </table>
   <br/>
   </div>


   <table align="center" width="100%">
    <tr>
      <td valign="top" width="50%">
        <fieldset><legend><font  size=5> Documentos</font></legend>
         <table border="2" width="100%">
          <tr><td>
           <font  size="2">
            <table border="2" width="100%">
              <tr>
                <th>Titulo</th>
                <th>Descricao</th>
                <th>Protocolo</th>
                <th>Tamanho</th>
              </tr>
          <%$numchamados = 0%>
         <% @documentos.each do |documento| %>
            <tr>
              <td><%=h documento.titulo %></td>
              <td><%=h documento.descricao %></td>
              <td><%=h documento.c_externo.protocolo %></td>
              <td><%= documento.documento_file_size %></td>
           </tr>
               <tr>
                <td colspan="4">
                <div class="botao">
                  <table>
                    <td><%= button_to('Exibir',{:action => "show", :id =>documento}, :method => "get") %></td>
                    <% if current_user.has_role?('administrador') or current_user.has_role?('bibliotecario') %>
                      <td> <%= button_to('Editar',{:action => "edit", :id =>documento}, :method => "get") %></td>
                     <% if current_user.has_role?('administrador')%>
                        <td><%= button_to('Excluir',{:action => "destroy", :id =>documento}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
                     <%end%>
                    <%end%>
                 </table>
                </div>
               </td>
            </tr>
         <%$numchamados = $numchamados +1%>

          <% end %>

         <tr>
               <td align="left"colspan="4"><font color="black">Total de documentos anexos ao chamado nº <%=h @externo.id %>  => <%=  $numchamados%></font></td>
             </tr>

            </table>
           </font>

          </td></tr>
         </table>
        </fieldset>
      </td>
     </table>
   </fieldset>
  </td>
</table>
 <div class="botao">
   <table width="100%">
    <tr>
      <td width="6%" align="left"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
      <td width="6%" align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
      <td align="left"><%= button_to 'Incluir Documento', new_c_externo_documento_path, :method => "get"  %>
    </tr>
  </table>
  </div>



