<br/>
 <table  class="tabelas"   align="center" width="100%">
   <tr>
      <td align="left">
         <font  size=5><b> ACERVO DICIONÁRIOS E ENCICLOPÉDIAS</b></font>
      </td>
   </tr>
   <tr>
     <td colspan="2">
        <br/>
        <div class="botao">
        <table width="100%" align="center">
          <tr>
             <td width="6%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
             <td width="6%" align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
             <td align="center" width="25%" >
                 <font color ="red "size="2">
                    <b> <%= @dic_encs.count %> Dicionários e Enciclopédias encontrados</b>
                  </font>
             </td>
             <td align="right">
               <div class="botao">
                <table>
                  <tr>
                    <% form_tag dic_encs_path, :method => 'get' do %>
                     <td align="right"><font size="4"> Digitar Titulo:</font>
                       <%= text_field_tag :search, params[:search] %>
                       <%= submit_tag "Filtrar", :titulo => nil %>
                     </td>
                    <% end %>
                  </tr>
                </table>
                </div>
             </td>
         </tr>
         <tr>
           <% if  $var == 0 then %>
             <td align="left" colspan="4"><%= will_paginate @dic_encs %></td>
           <%end%>
         </tr>
       </table>
       <br/>
       </div>
       <font  size="2">
       <table border="2" width="100%">
         <% @dic_encs.each do |dicenc| %>
           <tr>
             <th>Título</th>
             <td colspan="7"><%=h dicenc.identificacao.titulo %></td>
          </tr>
          <tr >
             <td  rowspan="4"></td>
            <th>Tipo</th>
            <td colspan="5"><%=h dicenc.tipo %></td>
          </tr>
          <tr>
             <th>Autor</th>
             <td colspan="6"><% dicenc.identificacao.autors.each do |p| %>
                   <%= p.nome%>
                <%end%>
             </td>
         </tr>

          <tr>
             <th>Tombo (SEDUC)</th>
             <th>Tombo (Local)</th>
             <th>Volume</th>
             <th>Localização</th>
             <th>Unidade</th>
          </tr>
          <tr>
             <td align="center">LV<%=h dicenc.id %></td>
             <td align="center"><%=h dicenc.tomboL %></td>
             <td><%=h dicenc.volume %></td>
             <td><% dicenc.localizacaos.each do |p| %>
                   <%= p.localguardado%>
                 <%end%>
             </td>
             <td><% dicenc.localizacaos.each do |p| %>
                   <%= p.unidade.nome%>
                <%end%>
             </td>
          </tr>
          <tr>
            <td colspan="12">
             <div class="botao">
              <table >
                <td><%= button_to('Exibir',{:action => "show", :id =>dicenc}, :method => "get") %></td>
                <% if current_user.has_role?('administrador') or current_user.has_role?('bibliotecario') %>
                   <td> <%= button_to('Editar',{:action => "edit", :id =>dicenc}, :method => "get") %></td>
                      <% if current_user.has_role?('administrador')%>
                       <td><%= button_to('Excluir',{:action => "destroy", :id =>dicenc}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
                     <%end%>
               <%end%>
             </table>
            </div>
           </td>
         </tr>
        <% end %>
       </table>
       <div class="botao">
         <table width="100%" align="left">
          <br/>
          <tr>
              <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
              <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
              <% if  $var == 0 then %>
                 <td align="left" colspan="3"><%= will_paginate @audiovisuais %></td>
              <%end%>

        </table>
        </div>
     </font>
  </table>
<br/>


