<br/><br/>
<% form_for(@mapa) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas" width="70%" align="center">
  <tr>
   <td colspan="2" align="left">
     <font  size=5><b> CADASTRO DE MAPAS</b></font>
   </td>
  </tr>
  <tr>
    <td>
      <fieldset><legend><font  size=4> Mapas</font></legend>
        <table >
            <tr>
              <td align="left"><b>Tombo(Local):</b></td>
              <td align="left" colspan="2"><%= f.text_field :tomboL, :size =>15 %></td>
           </tr>
           <tr>
              <td align="left"><b>Tipo Mapa:</b></td>
              <td align="left"colspan="2"><%= f.select :tipo, TIPOSMAPA.sort {|e0,e1| e0[0] <=> e1[0]}, :include_blank => '---Selecione---'%></td>
           </tr>
           <tr>
              <td align="left"> <b> Título:</b></td>
              <td align="left"colspan="2"><%= f.text_field :titulo, :size =>48 %></td>
           </tr>
           <tr>
              <td align="left"><b>Formato:</b></td>
              <td align="left" ><%= f.select :formato, FORMATO.sort {|e0,e1| e0[0] <=> e1[0]}, :include_blank => '---Selecione---'%></td>
             <td align="left"><b> Editora:</b><%= f.collection_select  :editora_id, @editoras, :id, :nome, :include_blank => ' -- Selecione -- ' %>
               -- <%= link_to "Nova Editora", new_editora_path%></td>
           </tr>
           <tr>
              <td align="left"><b>Ano do Mapa:</b></td>
              <td align="left" colspan="2"><%= f.date_select(:data, :order => [:year], :start_year => (Date.today.year)-100) %></td>
            </tr>
           <tr>
               <td align="left" colspan="8">
                  <% f.fields_for :localizacaos do |builder| %>
                      <%= render "dadoslocalizacao", :f => builder %>
                  <% end %>
               </td>
           </tr>
            <tr>
               <td align="left" valign="top"><b>Observações:</b></td>
               <td align="left" colspan="2  "><%= f.text_area(:obs, :cols =>"62", :rows => "2") %></td>
            </tr>
       </table>
      </fieldset>
      <table>
          <tr>
            <div id='Certeza'>
               <td align="left" width="8%"><%= f.submit "Salvar" %></td>
            </div>
            <% end %>
            <td align="left" ><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
          </tr>
      </table>
 </table>
</font>

