<br/><br/>
<% form_for(@isbn) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas" width="70%" align="center">
  <tr>
   <td colspan="2" align="left">
     <font  size=5><b> CADASTRO DE ISBN</b></font>
   </td>
  </tr>
  <tr>
    <td>
      <fieldset><legend><font  size=4> ISBN</font></legend>
        <table >
            <tr>
              <td align="left"><b>ISBN:</b></td>
              <td align="left" colspan="3"><%= f.text_field :nisbn, :size =>15 %>
           </tr>
           <tr>
               <td align="left"><b> Título:</b></td>
               <td align="left"><%= f.text_field :titulo, :size =>50 %></td>
           </tr>
           <tr>
               <td align="left"><b> Subtítulo:</b></td>
               <td align="left"><%= f.text_field :subtitulo, :size =>50 %></td>
           </tr>
           <tr>
              <td align="left"><b>Coleção:</b></td>
              <td align="left"><%= f.text_field :colecao, :size =>50 %></td>
           </tr>
           <tr>
              <td align="left"><b>Editora:</b></td>
              <td align="left"><%= f.collection_select  :editora_id, @editoras, :id, :nome, :include_blank => ' -- Selecione -- ' %>

              </td>
           </tr>
            <tr>
             <td align="left"> <b>Edição: </b></td>
             <td align="left"><%= f.text_field :edicao, :size =>2 %>
                   <b> Local Edição:</b><%= f.text_field :localedicao, :size =>14%>


             </td>
           </tr>
           <tr>
               <td align="left"><b> Autor:</b></td>
               <td><%= f.text_field :autor, :size =>50 %>
                    <font color="red"><b> <u>OBS:</u> Caso haja mais de um outro separar com /</b></font></td>
           </tr>
            <tr >
               <td align="left" valign="top"><b>Observações:</b></td>
               <td align="left" colspan="7  "><%= f.text_area(:obs, :cols =>"65", :rows => "2") %></td>
            </tr>
       </table>
      </fieldset>
      <table>
          <tr>
            <div id='Certeza'>
               <td align="left" width="8%"><%= f.submit "Salvar" %></td>
            </div>
            <% end %>
              <td align="left" width="8%"><%= button_to 'Casdastrar Editora', new_editora_path%></td>
              <td align="left" ><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
          </tr>
      </table>
 </table>
</font>



