<br/>
 <table  class="tabelas"   align="center" width="100%">
   <tr>
      <td align="left">
         <font  size=5><b> ISBN</b></font>
      </td>
   </tr>
   <tr>
     <td colspan="2">
        <br/>
        <div class="botao">
        <table width="100%" align="center">
          <tr>
             <td width="6%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
             <td width="6%" align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
             <td align="right">
               <div class="botao">
                <table>
                  <tr>
                    <% form_tag isbns_path, :method => 'get' do %>
                     <td align="right"><font size="4"> Digitar Titulo:</font>
                       <%= text_field_tag :search, params[:search] %>
                       <%= submit_tag "Filtrar", :titulo => nil %>
                     </td>
                    <% end %>
                  </tr>
                </table>
                </div>
             </td>
         </tr>
         <tr>
           <% if  $var == 0 then %>
             <td align="left" colspan="4"><%= will_paginate @isbns %></td>
           <%end%>
         </tr>
       </table>
       <br/>
       </div>
       <font  size="2">
       <table border="2" width="100%">
          <tr>
            <th>Isbn</th>
            <th>Titulo</th>
            <th>Colecao</th>
            <th>Editora</th>
            <th>Localedicao</th>
            <th>Autor</th>
            <th>Obs</th>
          </tr>
        <% @isbns.each do |isbn| %>
          <tr>
            <td><%=h isbn.nisbn %></td>
            <td><%=h isbn.titulo %></td>
            <td><%=h isbn.colecao %></td>
            <td><%=h isbn.editora.nome%></td>
            <td><%=h isbn.localedicao %></td>
            <td><%=h isbn.autor %></td>
            <td><%=h isbn.obs %></td>
        </tr>
        <tr>
          <td colspan="12">
           <div class="botao">
            <table >
             <td><%= button_to('Exibir',{:action => "show", :id =>isbn}, :method => "get") %></td>
               <% if current_user.has_role?('administrador') or current_user.has_role?('bibliotecario') %>
                  <td> <%= button_to('Editar',{:action => "edit", :id =>isbn}, :method => "get") %></td>
                     <% if current_user.has_role?('administrador')%>
                       <td><%= button_to('Excluir',{:action => "destroy", :id =>isbn}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
                     <%end%>
               <%end%>
             </table>
           </div>
           </td>
        </tr>
        <% end %>
       </table>
       <div class="botao">
         <table width="100%" align="left">
          <br/>
          <tr>
              <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
              <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
              <% if  $var == 0 then %>
                 <td align="left" colspan="3"><%= will_paginate @isbn %></td>
              <%end%>

        </table>
        </div>
     </font>
  </table>
<br/>

