<font  size="2">
   <table  class="tabelas" border ="1" cellpadding="1" cellspacing="1" width="100%" >
        <tr>
            <td align="right" colspan="7">
                <font color ="red "size="2">
                   <b> Total de Audivisuais:<%= @audiovisuais.count %></b>
                </font>
            </td>
         </tr>
         <% @audiovisuais.each do |audiovisual| %>
          <tr>
             <th>Título</th>
             <td colspan="6"><%=h audiovisual.titulo %></td>
          </tr>
          <tr>
             <td  rowspan="4"></td>
            <th>Subtítulo</th>
            <td colspan="5"><%=h audiovisual.subtitulo %></td>
          </tr>
          <tr>

            <th>Coleção</th>
            <td colspan="5"><%=h audiovisual.colecao %></td>
          </tr>
          <tr>
             <th>Tombo (SEDUC)</th>
             <th>Tombo (Local)</th>
             <th>Mídia</th>
             <th>Gênero</th>
             <th>Localização</th>
             <th>Unidade</th>
          </tr>
          <tr>
             <td align="center">AV<%=h audiovisual.id %></td>
             <td align="center"><%=h audiovisual.tomboL %></td>
             <td align="left"><%=h audiovisual.tipo %></td>
             <td align="left"><%=h audiovisual.generomidia.nome %></td>
             <td><% audiovisual.localizacaos.each do |p| %>
                   <%= p.localguardado%>
                 <%end%>
             </td>
             <td><% audiovisual.localizacaos.each do |p| %>
                   <%= p.unidade.nome%>
                <%end%>
             </td>
          </tr>
          <tr>
         <td colspan="7">
           <div class="botao">
            <table >
             <td><%= button_to('Exibir',{:action => "show", :id =>audiovisual}, :method => "get") %></td>
               <% if current_user.has_role?('administrador') or current_user.has_role?('bibliotecario') %>
                  <td> <%= button_to('Editar',{:action => "edit", :id =>audiovisual}, :method => "get") %></td>
                     <% if current_user.has_role?('administrador')%>
                       <td><%= button_to('Excluir',{:action => "destroy", :id =>audiovisual}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
                     <%end%>
               <%end%>
             </table>
           </div>
           </td>
        </tr>
        <% end %>
  </table>
  <div class="botao">
    <table width="100%" align="left">
      <tr>
         <td align="left" width="8%" ><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
         <td align="left" ><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
     </tr>
    </table>
  </div>
 </font>

