<h1>Listing audiovisuais</h1>

<table>
  <tr>
    <th>Generomidia</th>
    <th>Localizacao</th>
    <th>Tombos</th>
    <th>Tombol</th>
    <th>Tipo</th>
    <th>Titulo</th>
    <th>Subtitulo</th>
    <th>Producao</th>
    <th>Produtor</th>
    <th>Dataproducao</th>
    <th>Localproducao</th>
    <th>Obs</th>
  </tr>

<% @audiovisuais.each do |audiovisuai| %>
  <tr>
    <td><%=h audiovisuai.generomidia %></td>
    <td><%=h audiovisuai.localizacao %></td>
    <td><%=h audiovisuai.tomboS %></td>
    <td><%=h audiovisuai.tomboL %></td>
    <td><%=h audiovisuai.tipo %></td>
    <td><%=h audiovisuai.titulo %></td>
    <td><%=h audiovisuai.subtitulo %></td>
    <td><%=h audiovisuai.producao %></td>
    <td><%=h audiovisuai.produtor %></td>
    <td><%=h audiovisuai.dataproducao %></td>
    <td><%=h audiovisuai.localproducao %></td>
    <td><%=h audiovisuai.obs %></td>
    <td><%= link_to 'Show', audiovisuai %></td>
    <td><%= link_to 'Edit', edit_audiovisuai_path(audiovisuai) %></td>
    <td><%= link_to 'Destroy', audiovisuai, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New audiovisuai', new_audiovisuai_path %>