<h1>New audiovisuai</h1>

<% form_for(@audiovisuai) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :generomidia %><br />
    <%= f.text_field :generomidia %>
  </p>
  <p>
    <%= f.label :localizacao %><br />
    <%= f.text_field :localizacao %>
  </p>
  <p>
    <%= f.label :tomboS %><br />
    <%= f.text_field :tomboS %>
  </p>
  <p>
    <%= f.label :tomboL %><br />
    <%= f.text_field :tomboL %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :subtitulo %><br />
    <%= f.text_field :subtitulo %>
  </p>
  <p>
    <%= f.label :producao %><br />
    <%= f.text_field :producao %>
  </p>
  <p>
    <%= f.label :produtor %><br />
    <%= f.text_field :produtor %>
  </p>
  <p>
    <%= f.label :dataproducao %><br />
    <%= f.datetime_select :dataproducao %>
  </p>
  <p>
    <%= f.label :localproducao %><br />
    <%= f.text_field :localproducao %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', audiovisuais_path %>