<p>
  <b>Generomidia:</b>
  <%=h @audiovisuai.generomidia %>
</p>

<p>
  <b>Localizacao:</b>
  <%=h @audiovisuai.localizacao %>
</p>

<p>
  <b>Tombos:</b>
  <%=h @audiovisuai.tomboS %>
</p>

<p>
  <b>Tombol:</b>
  <%=h @audiovisuai.tomboL %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @audiovisuai.tipo %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @audiovisuai.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%=h @audiovisuai.subtitulo %>
</p>

<p>
  <b>Producao:</b>
  <%=h @audiovisuai.producao %>
</p>

<p>
  <b>Produtor:</b>
  <%=h @audiovisuai.produtor %>
</p>

<p>
  <b>Dataproducao:</b>
  <%=h @audiovisuai.dataproducao %>
</p>

<p>
  <b>Localproducao:</b>
  <%=h @audiovisuai.localproducao %>
</p>

<p>
  <b>Obs:</b>
  <%=h @audiovisuai.obs %>
</p>


<%= link_to 'Edit', edit_audiovisuai_path(@audiovisuai) %> |
<%= link_to 'Back', audiovisuais_path %>