<h1>Listing assuntoitens</h1>

<table>
  <tr>
    <th>Assunto</th>
    <th>Assunto</th>
  </tr>

<% @assuntoitens.each do |assuntoiten| %>
  <tr>
    <td><%=h assuntoiten.assunto_id %></td>
    <td><%=h assuntoiten.assunto %></td>
    <td><%= link_to 'Show', assuntoiten %></td>
    <td><%= link_to 'Edit', edit_assuntoiten_path(assuntoiten) %></td>
    <td><%= link_to 'Destroy', assuntoiten, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New assuntoiten', new_assuntoiten_path %>