<p>
  <b> Título:</b><%=h @isbn.titulo %>
  <b>Coleção:</b><%=h @isbn.colecao%>
  <b> Autor:</b><%=h @isbn.autor %>
  <b>Editora:</b><%=h @isbn.editora.nome %>
  <b> Local Edição:</b><%=h @isbn.localedicao %>
  <b>Edição: </b><%=h @isbn.edicao %>
</p>




