 <font  size="2">
   <table  class="tabelas" border ="1" cellpadding="1" cellspacing="1" width="100%" >
        <tr>
            <td align="right" colspan="7">
                <font color ="red "size="2">
                   <b> Total de Livros:<%= @livros.count %></b>
                </font>
            </td>
         </tr>
         <% @livros.each do |livro| %>
         <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Tombo (SEDUC)</th>
            <th>Tombo (Local)</th>
            <th>ISBN</th>
            <th>Coleção</th>
            <th>Area</th>
          </tr>
          <tr>
            <td rowspan="3" valign="top"><%=h livro.isbn.titulo %></td>
            <td><%=h livro.isbn.autor %></td>
            <td align="center"><%=h livro.id %></td>
            <td align="center"><%=h livro.tombo %></td>
            <td align="center"><%=h livro.isbn.nisbn %></td>
            <td><%=h livro.isbn.colecao %></td>
            <td><%=h livro.area.nome %></td>
        </tr>
        <tr>
            <th>Assunto1</th>
            <th>Assunto2</th>
            <th>Assunto3</th>
            <th>Editora</th>
            <th>Localização</th>
            <th>Unidade</th>
         </tr>
            <td><%=h livro.assunto1 %></td>
            <td><%=h livro.assunto2 %></td>
            <td><%=h livro.assunto3%></td>
            <td><%=h livro.isbn.editora.nome %></td>
            <td><%=h livro.localguardado %></td>
            <td><%=h livro.unidade.nome %></td>
        <tr>
         <td colspan="7">
           <div class="botao">
            <table >
             <td><%= button_to('Exibir',{:action => "show", :id =>livro}, :method => "get") %></td>
               <% if current_user.has_role?('administrador') or current_user.has_role?('bibliotecario') %>
                  <td> <%= button_to('Editar',{:action => "edit", :id =>livro}, :method => "get") %></td>
                     <% if current_user.has_role?('administrador')%>
                       <td><%= button_to('Excluir',{:action => "destroy", :id =>livro}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
                     <%end%>
               <%end%>
             </table>
           </div>
           </td>
        </tr>
        <% end %>
  </table>
  <div class="botao">
    <table width="100%" align="left">
      <tr>
         <td align="left" width="8%" ><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
         <td align="left" ><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
     </tr>
    </table>
  </div>
 </font>
