<h1>Editing livro</h1>

<% form_for(@livro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :assuntoiten %><br />
    <%= f.text_field :assuntoiten %>
  </p>
  <p>
    <%= f.label :identificacao %><br />
    <%= f.text_field :identificacao %>
  </p>
  <p>
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </p>
  <p>
    <%= f.label :editora %><br />
    <%= f.text_field :editora %>
  </p>
  <p>
    <%= f.label :localizacao %><br />
    <%= f.text_field :localizacao %>
  </p>
  <p>
    <%= f.label :tomboS %><br />
    <%= f.text_field :tomboS %>
  </p>
  <p>
    <%= f.label :tomboL %><br />
    <%= f.text_field :tomboL %>
  </p>
  <p>
    <%= f.label :colecao %><br />
    <%= f.text_field :colecao %>
  </p>
  <p>
    <%= f.label :edicao %><br />
    <%= f.text_field :edicao %>
  </p>
  <p>
    <%= f.label :dataedicao %><br />
    <%= f.datetime_select :dataedicao %>
  </p>
  <p>
    <%= f.label :localedicao %><br />
    <%= f.text_field :localedicao %>
  </p>
  <p>
    <%= f.label :resumo %><br />
    <%= f.text_field :resumo %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @livro %> |
<%= link_to 'Back', livros_path %>