<br/>
<% form_for(@livro) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas" width="80%" align="center">
  <tr>
   <td colspan="2" align="left">
     <font  size=5><b> CADASTRO DE LIVROS</b></font>
   </td>
  </tr>
  <tr>
    <td>
      <fieldset><legend><font  size=4> Livros</font></legend>
        <table>
          <tr>
            <td align="left" colspan="8">
            <font color="red"> <b> <u>OBSERVAÇÕES:</u></b></font>
              <ul>
              <li><font color="red">Para alterar dados sem caixa de edição, selecionar o n° <b>ISBN"</b></font></li>
              <li><font color="red"> Se o título iniciar com artigo cadastra-lo no final. Ex: <b>"O sítio do Pica-Pau Amarelo"</b>,  cadastrar <b>"Sitio do Pica-Pau Amarelo, O"</b></font></li>
              </ul>
           </td>
          </tr>
           <tr>
             <td align="left"><b>Tombo (SEDUC):</b></td>
              <td align="left" colspan="3">  <font color="blue"><b><%=h @livro.id %></b></font>
              - <b>Tombo(Local): </b><%= f.text_field :tombo, :size => 7  %></td>
             <td align="left" colspan="3"><b>ISBN:</b><%= f.collection_select  :isbn_id, @isbns, :id, :nisbn, :include_blank => ' -- Selecione -- ' %>
                 <%= observe_field 'isbn_isbn_id',
                       :update => "lista",
                       :url    => { :action => 'novo_isbn' },
                       :with   => 'isbn_isbn_id' %>
           </td>
          </tr>
           <tr>
               <td align="left"><b> Título:</b></td>
               <td align="left" colspan="8" ><%=h @isbn.titulo %></td>

           </tr>
           <tr>
              <td align="left"><b>Coleção:</b></td>
              <td align="left" colspan="4"><%=h @isbn.colecao%></td>
              <td align="left"><b>Edição: </b><%=h @isbn.edicao %></td>
              <td align="left" colspan="2"><b>Data Edição:</b><%=h @isbn.dataedicao.strftime("%Y") %></td>
           </tr>
           <tr>
               <td align="left"><b> Autor:</b></td>
               <td align="left" colspan="7" ><%=h @isbn.autor %></td>
           </tr>
           <tr>
               <td align="left"><b>Editora:</b></td>
               <td align="left" colspan="3" ><%=h @isbn.editora.nome %></td>
               <td align="right"><b> Local Edição:</b></td>
               <td align="left" colspan="2"><%=h @isbn.localedicao %>
               </td>
           </tr>
           <tr>
               <td align="left"><b> Área:</b></td>
               <td align="left" colspan="7" ><%= f.collection_select  :area_id, @areas, :id, :nome, :include_blank => ' -- Selecione -- ' %>
           <tr>
               <td align="left"><b> Assunto(1):</b></td>
               <td align="left" colspan="2"><%= f.collection_select  :assunto1, @assuntos, :nome, :nome, :include_blank => ' -- Selecione -- ' %></td>
               <td align="right"><b> Assunto(2):
               <td align="left" ></b><%= f.collection_select  :assunto2, @assuntos, :nome, :nome, :include_blank => ' -- Selecione -- ' %></td>
               <td align="right"><b> Assunto(3):</b></td>
               <td align="left"><%= f.collection_select  :assunto3, @assuntos, :nome, :nome, :include_blank => ' -- Selecione -- ' %></td

           </tr>
            <tr >
               <td align="left"><b>Resumo:</b></td>
               <td align="left" colspan="8  "><%= f.text_area(:resumo, :cols =>"97", :rows => "2") %></td>
            </tr>
            <tr>
             <td align="left"><b>Forma Aquisição:</b></td>
              <td align="left" colspan="3"><%= f.select :aquisicao, FORMAAQUISICAO.sort {|e0,e1| e0[0] <=> e1[0]}, :include_blank => '---Selecione---'%></td>
              <td align="right"><b>Data Aquisição:</b></td>
               <td align="left" colspan="4"><%= f.date_select(:dataaquisicao, :order => [:day, :month, :year], :start_year => (Date.today.year)-20) %></td>
            </tr>
            <tr>
               <td align="left"><b>Localização:</b></td>
               <td align="left" colspan="2"> <%= f.text_field :localguardado, :size =>15%></td>
               <td align="right"><b>Unidade:</b></td>
               <td align="left" colspan="5"><%= f.collection_select  :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
            </tr>
            <tr >
               <td align="left"><b>Observações:</b></td>
               <td align="left" colspan="8  "><%= f.text_area(:obs, :cols =>"97", :rows => "2") %></td>
            </tr>
       </table>
      </fieldset>
      <table>
          <tr>
            <div id='Certeza'>
               <td align="left" width="8%"><%= f.submit "Salvar" %></td>
            </div>
            <% end %>
            <td align="left" ><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
          </tr>
      </table>
 </table>
</font>

