<h1>Listing livros</h1>

<table>
  <tr>
    <th>Assuntoiten</th>
    <th>Identificacao</th>
    <th>Area</th>
    <th>Editora</th>
    <th>Localizacao</th>
    <th>Tombos</th>
    <th>Tombol</th>
    <th>Colecao</th>
    <th>Edicao</th>
    <th>Dataedicao</th>
    <th>Localedicao</th>
    <th>Resumo</th>
    <th>Obs</th>
  </tr>

<% @livros.each do |livro| %>
  <tr>
    <td><%=h livro.assuntoiten %></td>
    <td><%=h livro.identificacao %></td>
    <td><%=h livro.area %></td>
    <td><%=h livro.editora %></td>
    <td><%=h livro.localizacao %></td>
    <td><%=h livro.tomboS %></td>
    <td><%=h livro.tomboL %></td>
    <td><%=h livro.colecao %></td>
    <td><%=h livro.edicao %></td>
    <td><%=h livro.dataedicao %></td>
    <td><%=h livro.localedicao %></td>
    <td><%=h livro.resumo %></td>
    <td><%=h livro.obs %></td>
    <td><%= link_to 'Show', livro %></td>
    <td><%= link_to 'Edit', edit_livro_path(livro) %></td>
    <td><%= link_to 'Destroy', livro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New livro', new_livro_path %>