<br/>
<font size="2">
<table  class="tabelas" width="60%"align="center">
   <tr>
      <td colspan="2" align="left">
         <font  size=5 color="black"> <b>LIVROS</b></font>
      </td>
  </tr>
  <tr>
   <td>
     <fieldset><legend><font  size=4> Dados</font></legend>
      <table>
        <tr>
           <td align="left"><b>Tombo (SEDCUC):</b></td>
           <td align="left">LV-<%=h @livro.id %></td>
        </tr>
        <tr>
           <td align="left"><b>Tombo (Local):</b></td>
           <td align="left">  <%=h @livro.tomboL %></td>
        </tr>
        <tr>
          <td align="left"><b>Código:</b></td>
          <td align="left">   <%=h @livro.identificacao.codigo %>
       </tr>
       <tr>
         <td align="left"><b>Título:</b></td>
         <td align="left"><%=h @livro.identificacao.titulo %></td>
       </tr>
       <tr>
         <td align="left"><b>Subtítulo:</b></td>
         <td align="left"><%=h @livro.identificacao.subtitulo %></td>
       </tr>
       <tr>
         <td align="left"><b> Autor:</b></td>
         <td align="left">
              <% @livro.identificacao.autors.each do |p| %>
                <%= p.nome%><br/>
              <%end%>
         </td>
       </tr>
       <tr>
         <td align="left"><b> Coleção:</b></td>
         <td align="left">  <%=h @livro.colecao%></td>
       </tr>
       <tr>
         <td align="left"><b>Edição:</b></td>
         <td align="left">  <%=h @livro.edicao %></td>
       </tr>
       <tr>
         <td align="left"><b>Data Edição:</b></td>
         <td align="left">  <%=h @livro.dataedicao.strftime("%Y") %></td><p>
       </tr>
       <tr>
         <td align="left"><b>Editora:</b></td>
         <td align="left"><%=h @livro.editora.nome %>   </td>
       </tr>
       <tr>
         <td align="left"><b>Local Edição:</b></td>
         <td align="left">  <%=h @livro.localedicao %></td>
       </tr>
       <tr>
         <td align="left"><b> Área:</b></td>
         <td align="left">   <%=h @livro.area.area %></td>
       </tr>
      <tr>
         <td align="left" valign="top"><b> Assuntos:</b></td>
         <td align="left">
          <% @livro.assuntos.each do |p| %>
            <%= p.assunto%><br/>
          <%end%>
         </td>
       </tr>
       <tr>
         <td align="left"><b>Resumo:</b></td>
         <td align="left">   <%=h @livro.resumo %></td>
       </tr>
       <tr>
         <td align="left"><b>Forma Aquisição:</b></td>
         <td align="left">
           <% @livro.localizacaos.each do |p| %>
            <%= p.aquisicao%>
          <%end%>
         </td>
       </tr>
       <tr>
         <td align="left"><b> Data Aquisição:</b></td>
         <td align="left"> 
          <% @livro.localizacaos.each do |p| %>
            <%= p.dataaquisicao.strftime("%Y")%>
          <%end%>
         </td>
       </tr>
       <tr>
         <td align="left"><b>Localização:</b></td>
         <td align="left">
          <% @livro.localizacaos.each do |p| %>
            <%= p.localguardado%>
          <%end%>
          </td>
       </tr>
      <tr>
         <td align="left"><b>Unidade:</b></td>
         <td align="left"><% @livro.localizacaos.each do |p| %>
            <%= p.unidade.nome%>
          <%end%>  </td>
      </tr>
      <tr>
         <td valign="top" align="left"><b>Observações:</b></td>
         <td align="left">  <%=h @livro.obs %></td>
      </tr>
    </table>
    </fieldset>
     <div class="botao">
      <table>
        <tr>
          <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
           <% if current_user.has_role?('administrador') or current_user.has_role?('bibliotecario') %>
             <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id => @livro}, :method => "get") %></td>
           <%end%>
          <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
        </tr>
      </table>
     </div>
   </td>
  </tr>
 </table>
</font>
<br/>

