<p>
  <b>Assuntoiten:</b>
  <%=h @livro.assuntoiten %>
</p>

<p>
  <b>Identificacao:</b>
  <%=h @livro.identificacao %>
</p>

<p>
  <b>Area:</b>
  <%=h @livro.area %>
</p>

<p>
  <b>Editora:</b>
  <%=h @livro.editora %>
</p>

<p>
  <b>Localizacao:</b>
  <%=h @livro.localizacao %>
</p>

<p>
  <b>Tombos:</b>
  <%=h @livro.tomboS %>
</p>

<p>
  <b>Tombol:</b>
  <%=h @livro.tomboL %>
</p>

<p>
  <b>Colecao:</b>
  <%=h @livro.colecao %>
</p>

<p>
  <b>Edicao:</b>
  <%=h @livro.edicao %>
</p>

<p>
  <b>Dataedicao:</b>
  <%=h @livro.dataedicao %>
</p>

<p>
  <b>Localedicao:</b>
  <%=h @livro.localedicao %>
</p>

<p>
  <b>Resumo:</b>
  <%=h @livro.resumo %>
</p>

<p>
  <b>Obs:</b>
  <%=h @livro.obs %>
</p>


<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>