
<br/><br/>
<table class="tabelas" align="center" width="50%">
 <tr>
     <td colspan="2" align="left">
       <font  size=5 color="black"> <b>ASSUNTOS</b></font>
    </td>
 </tr>
 <tr>
 <td>
 <font  size="2">
 <table width="100%"  >
  <tr>
    <td width="50%" valign="top">
      <% form_for(@assunto) do |f| %>
        <fieldset><legend><font  size=4> Cadastrar Assuntos</font></legend>
         <table>
           <tr>
            <td valign="top"><font color="red"><b><u>OBSERVAÇÃO:</u></b></font>
            <td colspan="2"><font color="red"><b>Digitar o nome e aguardar o sistema consultar se o Autor já está cadastrado antes de clicar o botão SALVAR</b></font></td>
           </tr>
           <tr>
             <td width="20%"align="left" colspan="3"><b>Assunto:</b><%= f.text_field :assunto %>
                 <%= observe_field :assunto_assunto,
                    :with => :assunto_assunto,
                    :url => { :action => 'mesmo_assunto' } %>
             </td>
           <tr>
           <tr>
              <td colspan="3">
                <font color="red"><b><div id='nome_aviso'></div></b></font>
             </td>
          </tr>
          <tr>
            <div class="botao">
              <td align="right"width="1%" >
                <div id='Certeza'><%= f.submit "Salvar" %></div>
              </td>
                <% end %>
             <td align=""width="1%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
             <td align="left"><%= button_to 'Cadastrados', assuntos_path, {:method => "get"}%></td>
           </div>
         </tr>
      </table>
    </fieldset>
   <br/>
  </td>
 </tr>
 </table>
 </font>
</td>
</table>
<br/>
